<template>
  <div class="timepicker">

      <div class="time-section">
          <div @click="changeHour(true)" class="option up">+</div>
          <div class="current">{{ strHour }}</div>
          <div @click="changeHour(false)" class="option dw">-</div>
      </div>
      <div class="time-section">
          <div @click="changeMinute(true)" class="option up">+</div>
          <div class="current">{{ strMinute }}</div>
          <div @click="changeMinute(false)" class="option dw">-</div>
      </div>
      <div class="time-section">
          <div @click="changePM" class="option up">+</div>
          <div class="current">{{ isPM ? "PM" : "AM" }}</div>
          <div @click="changePM" class="option dw">-</div>
      </div>

  </div>
</template>

<script>
export default {
  name: 'TimePicker',

  data () {
    return {
      hour: 12,
      minute: 0,
      isPM: true
    }
  },

  methods: {

    changeHour(isUp) {

      if ( (isUp && this.hour == 12) || (!isUp && this.hour == 1) ) return

      this.hour = isUp ? this.hour + 1 : this.hour - 1
      this.$emit('timeHasChange', this.time)

    },

    changeMinute(isUp) {

      if ( (isUp && this.minute == 59) || (!isUp && this.minute == 0) ) return

      this.minute = isUp ? this.minute + 1 : this.minute - 1
      this.$emit('timeHasChange', this.time)

    },

    changePM() {

      this.isPM = !this.isPM
      this.$emit('timeHasChange', this.time)

    }

  },

  computed: {

    strHour() {
      return this.hour < 10 ? `0${ this.hour }` : this.hour
    },

    strMinute() {
      return this.minute < 10 ? `0${ this.minute }` : this.minute
    },

    time() {
      return {
        hour: this.strHour,
        minute: this.strMinute,
        isPM: this.isPM,
        str: `${this.strHour}:${this.strMinute} ${this.isPM ? 'PM' : 'AM'}`
      }
    }

  }
}
</script>

<style scoped>

  .timepicker {
    background: #ccc;
    border: 1px solid #000;
    margin: 10px;
  }
  .timepicker .time-section {
    display: inline-block;
    vertical-align: top;
  }
  .timepicker .time-section .option {
    padding: 10px;
    text-align: center;
  }
  .timepicker .time-section .current {
    padding: 10px;
    text-align: center;
  }

</style>
