<template>
  <div id="app">

    <time-picker v-on:timeHasChange="time1Change"></time-picker>
    <p>Hora primer timepicker {{ time1 }}</p>

    <br>

    <time-picker v-on:timeHasChange="time2Change"></time-picker>
    <p>Hora segundo timepicker {{ time2 }}</p>

  </div>
</template>

<script>
import TimePicker from './components/TimePicker'

export default {
  name: 'app',

  components: {
    TimePicker
  },

  data() {
    return {
      time1: '',
      time2: ''
    }
  },

  methods: {
    time1Change(time) {
      this.time1 = time.str
    },
    time2Change(time) {
      this.time2 = time.str
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
